$colors: (
    primary-50: #eef7fc,
    primary-100: #cbe8f6,
    primary-200: #a8d9f0,
    primary-300: #86caea,
    primary-400: #63bbe3,
    primary-500: #41acdd,
    primary-600: #259ad0,
    primary-700: #1f80ad,
    primary-800: #18678b,
    primary-900: #124D68,

    gray-10: #fafafa,
    gray-50: #efefef,
    gray-100: #eeeeee,
    gray-200: #d6d6d6,
    gray-300: #b8b8b8,
    gray-400: #999999,
    gray-500: #858585,
    gray-600: #707070,
    gray-700: #5c5c5c,
    gray-800: #474747,
    gray-900: #333333,

    warning-100: #f8c663,
    warning-200: #f7bf50,
    warning-300: #f6b83c,
    warning-400: #f5b129,
    warning-500: #f4aA15,
    warning-600: #eaa00b,
    warning-700: #d6920a,
    warning-800: #c38509,
    warning-900: #af7808,

    danger-50: #fff5f5,
    danger-100: #feD7D7,
    danger-200: #feb2b2,
    danger-300: #fc8181,
    danger-400: #f56565,
    danger-500: #e53e3e,
    danger-600: #c53030,
    danger-700: #9b2c2c,
    danger-800: #822727,
    danger-900: #63171b,

    state-refused: #da4453,
    state-toControl: #ffffff,
    state-controlled: #f6bb42,
    state-published: #5cb85c,
);

$spacings: (
    0: 0,
    1: .25rem,
    2: .5rem,
    3: .75rem,
    4: 1rem,
    5: 1.5rem,
    6: 2rem,
    7: 3rem,
    8: 4rem,
    9: 6rem,
    auto: auto,
);

$fontSizes: (
    0: 0.5rem,
    1: 0.625rem,
    2: 0.75rem,
    3: 0.875rem,
    4: 1rem,
    5: 1.125rem,
    6: 1.25rem,
    7: 1.5rem,
    8: 2rem,
    9: 3rem,
);