.button.media-remove-button {
    color: #b32d2e;
    text-decoration: none;
    border-color: transparent;
    box-shadow: none;
    background: 0 0;

    &:hover,
    &:focus {
        background: #b32d2e;
        color: #fff;
        border-color: #b32d2e;
        box-shadow: 0 0 0 1px #b32d2e;
    }
}