$oa-blue: #41acdd;
$oa-black: #413a42;
$oa-dark-purple: #413a42;
$oa-white: #fff;
$oa-silver: silver;
$oa-gray: gray;
$oa-gray-lightish: #bbb;
$oa-gray-light: #ccc;
$oa-gray-lighter: #eee;
$oa-gray-lightest: #fafafa;
$oa-red: #da4453;
$oa-green: #5cb85c;
$oa-yellow: rgba(240, 194, 12, 0.6);
$oa-orange: #ff813d;
$oa-warning: #f6bb42;
$oa-dark: #333;

:root {
	--oa-main-color: #{$oa-blue};
}

/*****************************
 * Screen reader text helper
 *****************************/
.oa-sr-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/**************
 * Events
 **************/
.oa-event-grid {
	display: grid;
    grid-gap: 2rem;
	@media screen and (min-width: 768px) {
		grid-template-columns: repeat( auto-fit, minmax( 300px, 1fr ) );
		.oa-list-item {
			padding: 1rem;
		}
	}
}
.oa-event-list {
	.oa-list-item {
		margin-bottom: 4rem;
	}
}
.oa-event-title {
    margin-top: 0;
}
.oa-meta {
	p {
		margin: .25rem 0;
	}
}
.oa-event-thumbnail {
	margin-bottom: 1rem;
}

/**************
 * Pagination
 **************/
ul.oa-pagination {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.oa-page {
    margin: 0;
}
.oa-page a,
.oa-page span {
    display: inline-block;
    line-height: 1;
    padding: .5rem;
}

/**************
 * Navigation
 **************/
.oa-event-navigation {
	align-items: center;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 1rem 0;
}
.oa-nav-link {
	align-items: center;
	box-shadow: none;
	display: inline-flex;
	line-height: 1;
	text-decoration: none;
	padding: .25rem;
}
.oa-next-link {
	.oa-icon {
		margin-left: 4px;
	}
}
.oa-previous-link,
.oa-back-link {
	.oa-icon {
		margin-right: 4px;
	}
}
.oa-nav-link-disabled {
	opacity: .5;
}

/*****************************
 * Exports and Share Buttons
 *****************************/
.oa-exports,
.oa-sharers {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin: 1rem 0;
}
ul.oa-exports-links,
ul.oa-sharers-links {
	display: flex;
	list-style: none;
	margin: 0;
}
.oa-export-button,
.oa-sharer-button {
	align-items: center;
	display: inline-flex;
	padding: .25rem;
	margin-left: 8px;
}

/*******************
 * Timings & range
 *******************/
.oa-event-timings {
	margin: 1rem 0;
}
.oa-event-timing,
.oa-event-range,
.oa-card-meta {
	align-items: center;
	display: flex;
	.oa-icon {
		margin-right: 5px;
	}
}
.oa-timing {
	display: flex;
}
.oa-timing-seperator {
	margin: 0 5px;
}
.oa-timing-times {
	margin-left: auto;
}
ul.oa-months {
	list-style: none;
	padding: 0;
}
li.oa-month {
	list-style: none;
	&.oa-hidden {
		display: none;
	}
}
.oa-month-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
ul.oa-week {
	margin-top: .75rem;
	list-style: none;
	padding: 0;
}
button.oa-button {
	background: transparent;
	border: none;
	line-height: 1;
	padding: 0;
	margin: 0;
	&:hover,
	&:focus {
		background: transparent;
		border: none;
	}
	&[disabled=true] {
		opacity: 0.5;
	}
}

/******************
 * Update overlay
 ******************/
div[data-container-id="oa-wrapper"]{
	position: relative;
	.oa-update-overlay {
		align-items: center;
		background-color: rgba( white, .9 );
		display: flex;
		flex-direction: column;
		height: 100%;
		left:0;
		padding: 2rem;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;
		.oa-icon-refresh {
			display: inline-block;
			height: 2rem;
			margin: 0 1rem;
			width: 2rem;
		}
		p {
			margin: 1rem 0;
		}
	}
}


/***************
 * Notices
 **************/
.oa-notice {
  padding: 1rem;
  margin-bottom: 1rem;
  
  p {
    margin: 0;
  }
}
.oa-notice-error {
  background-color: #FEF2F2;
  border-left: 3px solid #B91C1C;
}


/******************
 * Active Filters
 *****************/
.active-filters {
	li a {
		padding: 5px;
		line-height: 1;
		text-decoration: none;
		&:hover,
		&:focus {
			color: white;
			text-decoration: none;
		}
	}
}

/***************
 * Tags Filter
 **************/
.cbpgtg .tags {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
	flex-wrap: wrap;
	li {
		padding: 5px;
	}
	.no-current-match {
		opacity: .5;
	}
	a {
		&:hover {
			cursor: pointer;
		}
	}
	.selected {
		// background: var(--oa-main-color, $oa-blue);
		font-weight: bold;
		a {
			color: var(--oa-main-color, $oa-blue);
			text-decoration: none;
		}
	}
	.count {
		margin-left: 4px;
	}
}


/*******************
 * Calendar Filter
 *******************/
.ccal {
	background-color: $oa-gray-lighter;
	* {
		-moz-user-select: -moz-none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	ul.calweekdays,
	.calbody ul {
		li {
			border: 2px solid $oa-gray-lighter;
			cursor: pointer;
			color: $oa-gray;
			display: inline-block;
			line-height: 25px;
			text-align: center;
			transition: color 0.1s;
			width: 1 / 7 * 100%;
			&:hover {
				color: $oa-blue;
				color: var(--oa-main-color, $oa-blue);
			}
			&.today {
				font-weight: bold;
				color: $oa-blue;
				color: var(--oa-main-color, $oa-blue);
			}
		}
	}

	.calbody,
	.calhead {
		box-sizing: border-box;
	}

	.calbody {
		li:hover {
			box-shadow: 0 0 0 1px $oa-blue inset;
			box-shadow: 0 0 0 1px var(--oa-main-color, $oa-blue) inset;
		}
	}

	.calprev, .calnext {
		opacity: 0.2;
	}

	.calweekdays {
		li {
			cursor: auto;
			&:hover {
				color: $oa-gray;
			}
		}
	}

	.calmonthnav {
		background: $oa-gray-lighter;
		border-bottom: 1px solid $oa-silver;
		line-height: 46px;
		padding: 5px;
		.calprevmonth,
		.calmonth,
		.calnextmonth {
			margin: 0;
		}
	}

	.hasdates {
		background: $oa-white;
	}

	.selected {
		background: $oa-blue;
		background: var(--oa-main-color, $oa-blue);
		border-radius: 0;
		span {
			color: $oa-white;
		}
		&:hover {
			color: $oa-white;
			opacity: 0.9;
		}
	}

	.preselected {
		background: $oa-blue;
		background: var(--oa-main-color, $oa-blue );
		opacity: 0.8;
		span {
			color: $oa-white;
		}
	}
}

/***************
 * Map Filter
 ***************/
.cbpgmp {
	.map-sync {
		align-items: center;
		display: flex;
		flex-direction: row-reverse;
	}
	label {
		margin: 0;
	}
}
.event-map {
	height: 300px;
}

/******************
 * Preview Filter
 ******************/
.oa-preview-card {
	margin-bottom: .5rem;
}
.oa-card {
	display: flex;
	flex-wrap: wrap;
	@media (min-width: 576px){
		flex-wrap: nowrap;
	}
}
.oa-card-image-link {
	display: block;
	flex-shrink: 0;
	max-width: 150px;
	max-height: 150px;
}
.oa-card-img {
	display: block;
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}
.oa-card-body {
	padding: .5rem 1rem;
}
.oa-card-link {
	margin-bottom: .5rem;
}
.oa-list-unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height:1.2
}