@use "sass:math";
@use "sass:map";

@import 'variables';
@import 'mixins';

:root {
	scroll-behavior: smooth;
	--oa-main-color: #{map.get($colors, primary-500)};
	--oa-main-color-lighter: #{map.get($colors, primary-300)};
	--oa-main-color-darker: #{map.get($colors, primary-700)};
	@include css_variables('oa', $colors );
	@include css_variables('oa-spacing', $spacings );
	@include css_variables('oa-text', $fontSizes );
}

/*****************************
 * Theme fixes and helpers
 *****************************/
img {
	max-width: 100%;
	height: auto;
}

strong {
	font-weight: bold;
}

.oa-sr-text {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

/*************************
 * Events styles
 *************************/
.single-oa-calendar,
.oa-preview {
	.oa-event-title {
		color: var(--oa-gray-900);
		margin: 0;
	}

	.oa-event-details,
	.oa-event-additional-fields,
	.oa-event-location {
		display: flex;
		flex-direction: column;
		gap: var(--oa-spacing-2);

		&>* {
			margin: 0;
		}
	}

	.oa-label {
		color: var(--oa-gray-700);
		font-size: var(--oa-text-4);
		margin-bottom: var(--oa-spacing-1);
	}

	.oa-button {
		align-items: center;
		background: transparent;
		border: 1px solid var(--oa-main-color);
		border-radius: 4px;
		color: var(--oa-main-color);
		display: inline-flex;
		font-size: var(--oa-text-3);
		gap: var(--oa-spacing-1);
		line-height: 1;
		padding: var(--oa-spacing-2);
		text-decoration: none;

		&:hover,
		&:focus {
			border-color: var(--oa-main-color-darker);
			color: var(--oa-main-color-darker);
		}
	}

	.oa-icon {
		width: var(--oa-text-4);
		height: var(--oa-text-4);
		fill: currentColor;
	}

	.oa-icon-refresh {
		animation: rotate 1s linear infinite;
	}

	@keyframes rotate {
		to {
			transform: rotateZ(360deg)
		}
	}


	/******************
	* Update overlay
	******************/
	div[data-container-id="oa-wrapper"] {
		position: relative;

		.oa-update-overlay {
			align-items: center;
			background-color: rgba(white, .9);
			display: flex;
			flex-direction: column;
			height: 100%;
			left: 0;
			padding: var(--oa-spacing-6);
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;
			z-index: 10;

			.oa-icon-refresh {
				display: inline-block;
				height: var(--oa-spacing-6);
				margin: 0 var(--oa-spacing-4);
				width: var(--oa-spacing-6);
			}

			p {
				margin: var(--oa-spacing-4) 0;
			}
		}
	}


	/***************
	* Notices
	**************/
	.oa-notice {
		padding: var(--oa-spacing-4);
		margin-bottom: var(--oa-spacing-4);

		p {
			margin: 0;
		}
	}

	.oa-notice-error {
		background-color: #FEF2F2;
		border-left: 3px solid var(--oa-danger-900);
	}

	.event-map {
		height: 300px;
	}

	.map-container .leaflet-container {
		height: 300px;
	}


	/*************************
	* Events lists and grid
	*************************/
	.oa-event-list,
	.oa-event-grid {
		display: grid;
		grid-gap: var(--oa-spacing-7);

		a.oa-event-wrapper {
			display: flex;
			flex-direction: column;
			height: 100%;
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}

		.oa-event-range {
			color: var(--oa-gray-900);
		}

		.oa-event-title {
			font-size: inherit;
			font-weight: bold;
		}

		.oa-event {
			border: 1px solid var(--oa-gray-400);
			position: relative;

			&:hover {
				border-color: var(--oa-gray-600);
			}
		}

		.oa-event-description {
			color: var(--oa-gray-700);
		}

		.oa-event-details {
			flex: 1;
			font-size: var(--oa-text-4);
			padding: var(--oa-spacing-5);
		}

		.oa-event-thumbnail {
			height: 170px;

			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}

		.oa-event-location-label {
			color: var(--oa-gray-700);
			font-size: var(--oa-text-3);
			margin-top: auto;
		}

		.oa-event-featured-badge {
			--gradient-from: white 36px;
			--gradient-to: transparent 0;
			background-image: linear-gradient(to bottom right, var(--gradient-from), var(--gradient-to));
			height: 52px;
			left: 0px;
			line-height: 1;
			position: absolute;
			top: 0px;
			width: 52px;
			z-index: 10;

			.oa-event-featured-badge-wrapper {
				--gradient-from: var(--oa-main-color) 32px;
				background-image: linear-gradient(to bottom right, var(--gradient-from), var(--gradient-to));
				height: 100%;
				padding: 2px;
				width: 100%;
			}

			.oa-icon {
				color: white;
				margin-top: var(--oa-spacing-1);
				margin-left: var(--oa-spacing-1);
			}
		}
	}

	.oa-event-grid {
		@media screen and (min-width: 700px) {
			grid-template-columns: repeat(auto-fill, minmax(min(290px, 100%), 1fr));
		}
	}


	/*******************
	* Pagination
	*******************/
	ul.oa-pagination {
		display: flex;
		flex-wrap: wrap;
		font-size: var(--oa-text-4);
		justify-content: end;
		list-style: none;
		margin: var(--oa-spacing-4) 0;
		padding: 0;

		.oa-page {
			margin: 0;

			a,
			span {
				display: inline-block;
				line-height: 1;
				padding: var(--oa-spacing-2);
				color: var(--oa-gray-700);
			}

			a:hover,
			a:focus {
				color: var(--oa-main-color);
			}
		}
	}


	/**************
	* Navigation
	**************/
	.oa-event-navigation {
		align-items: center;
		display: flex;
		justify-content: end;
		gap: var(--oa-spacing-2);
		flex-wrap: wrap;
		margin: var(--oa-spacing-4) 0;
	}

	.oa-nav-link {
		align-items: center;
		box-shadow: none;
		color: var(--oa-main-color);
		display: inline-flex;
		line-height: 1;
		padding: var(--oa-spacing-2);

		&:hover,
		&:focus {
			color: var(--oa-main-color-darker);
			fill: var(--oa-main-color-darker);
		}
	}

	.oa-back-link {
		font-size: var(--oa-text-3);
		margin-right: auto;
		padding: 0;
		text-decoration: none;
	}

	.oa-previous-link,
	.oa-next-link {
		text-decoration: none;

		.oa-icon {
			font-size: var(--oa-text-5);
		}
	}


	/***********************
	* Single event styles
	***********************/
	.oa-single-event {

		.oa-event-wrapper {
			display: flex;
			flex-direction: column;
			gap: var(--oa-spacing-4);

			&>* {
				margin: 0;
			}
		}

		.oa-event-title {
			font-weight: normal;
		}

		.oa-event-description {
			color: var(--oa-gray-900);
			font-size: var(--oa-text-6);
		}

		.oa-event-details>div,
		.oa-registration-method-wrapper {
			align-items: center;
			color: var(--oa-gray-900);
			column-gap: var(--oa-spacing-4);
			display: grid;
			font-size: var(--oa-text-3);
			grid-template-columns: 2rem 1fr;
			place-items: center start;
			row-gap: var(--oa-spacing-1);

			.oa-icon {
				fill: var(--oa-gray-400);
				width: var(--oa-text-6);
				height: var(--oa-text-6);

			}
		}

		.oa-registration-method-wrapper {
			svg.oa-icon {
				width: var(--oa-text-4);
				height: var(--oa-text-4);
			}
		}


		.oa-event-thumbnail,
		.oa-event-location-image {
			figcaption {
				color: var(--oa-gray-500);
				font-size: var(--oa-text-3);
			}
		}

		.oa-event-longDescription {
			font-size: var(--oa-text-4);

			p {
				margin-top: 0;
				margin-bottom: var(--oa-spacing-4);
			}
		}

		.oa-registration-methods {
			list-style: none;
			padding: 0;
			margin: 0;
			grid-column: 2;
			flex-basis: 100%;
		}

		.oa-conditions-value {
			grid-column: 2;
		}

		.oa-event-keywords {
			color: var(--oa-gray-700);
			font-size: var(--oa-text-3);
		}

		.oa-event-additional-fields,
		.oa-event-location {
			color: var(--oa-gray-700);
			margin-bottom: var(--oa-spacing-7);
			gap: var(--oa-spacing-4);

			.oa-label {
				display: block;
				font-size: var(--oa-text-3);
				color: var(--oa-gray-900);
			}
		}

		.oa-event-additional-fields {
			font-size: var(--oa-text-3);
		}

		.oa-event-timings {
			margin-bottom: var(--oa-spacing-7);
		}
	}


	/***********
	* Timings
	***********/
	.oa-event-timings {
		font-size: var(--oa-text-4);
	}

	.oa-timing {
		display: flex;
	}

	.oa-seperator,
	.oa-timing-seperator {
		margin: 0 var(--oa-spacing-1);
	}

	.oa-timing-times {
		margin-left: auto;
	}

	ul.oa-months {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li.oa-month {
		list-style: none;

		&.oa-hidden {
			display: none;
		}
	}

	.oa-month-header {
		align-items: center;
		border-bottom: 1px solid var(--oa-gray-300);
		border-top: 1px solid var(--oa-gray-300);
		display: flex;
		justify-content: space-between;
		padding: var(--oa-spacing-2) 0;

		.oa-month-label {
			font-weight: bold;
		}


		.oa-button {
			border-color: transparent;

			&:hover,
			&:focus {
				border-color: var(--oa-main-color-darker);
			}
		}
	}

	ul.oa-week {
		margin-top: .75rem;
		list-style: none;
		padding: 0;
	}


	/*******************
	* Location styles
	*******************/
	.oa-event-location {
		font-size: var(--oa-text-4);
	}

	.oa-event-location-title {
		font-size: var(--oa-text-7);
	}

	.oa-event-location-address {
		column-gap: var(--oa-spacing-2);
		display: flex;
		flex-wrap: wrap;

		.oa-event-location-address-link {
			flex: 1 0 100%;
		}

		.oa-event-location-city,
		.oa-event-location-region {
			color: var(--oa-gray-700);
		}
	}

	.oa-event-location-website,
	.oa-event-location-phone,
	.oa-event-location-email {
		display: flex;
		align-items: center;
		gap: var(--oa-spacing-2);

		.oa-icon {
			fill: var(--oa-gray-400);
		}
	}

	.oa-event-location-links {
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}
	}


	/*********************************
	* Filters widgets
	*********************************/
	.oa-default-filters {
		display: flex;
		flex-direction: column;
		gap: var(--oa-spacing-4);
		margin-bottom: var(--oa-spacing-4);

		&>* {
			margin: 0;
		}
	}

	.oa-widget-details {
		border: 1px solid var(--oa-gray-300);
		color: var(--oa-gray-700);
		cursor: pointer;
		padding: var(--oa-spacing-2);
		font-size: var(--oa-text-3);

		.oa-widget-summary+* {
			margin-top: 1rem;
		}
	}

	.oa-widget {

		color: var(--oa-gray-700);
		font-size: var(--oa-text-3);

		button,
		.btn {
			align-items: center;
			background: var(--oa-main-color);
			border: none;
			color: white;
			display: inline-flex;
			font-size: var(--oa-text-3);
			gap: var(--oa-spacing-2);
			padding: var(--oa-spacing-2);

			&:hover,
			&:focus {
				background: var(--oa-main-color-lighter);
				cursor: pointer;
				color: white;
				outline: 1px solid var(--oa-main-color-lighter);
			}
		}

		.btn-link {
			border: none;
			background: transparent;
			color: var(--oa-main-color);

			&:hover,
			&:focus {
				background: transparent;
				border: none;
				color: var(--oa-main-color-lighter);
				text-decoration: underline;
				outline: none;
			}
		}

		input[type="text"],
		input[type="search"],
		input.form-control {
			border: 1px solid var(--oa-gray-300);
			border-radius: 0;
			color: var(--oa-gray-700);
			cursor: pointer;
			display: flex;
			font-size: var(--oa-text-3);
			padding: var(--oa-spacing-2);

			&:hover,
			&:focus {
				cursor: pointer;
				outline: 1px solid var(--oa-main-color-lighter);
			}
		}

		input[type="checkbox"] {
			padding: 2px;
			width: 16px;
			height: 16px;

			&:checked {
				background-color: var(--oa-main-color);
			}
		}
	}

	/*********************************
	* Active filters widget
	*********************************/
	.oa-active-filters-widget {
		button {
			margin-right: var(--oa-spacing-2);
			margin-bottom: var(--oa-spacing-2);
		}
	}

	/*********************************
	* Search widget
	*********************************/
	.oa-search-widget {
		.input-group {
			border: 1px solid var(--oa-gray-300);
			border-radius: 0;
			color: var(--oa-gray-700);
			cursor: pointer;
			display: flex;
			font-size: var(--oa-text-3);
			min-height: var(--oa-spacing-6);

			&:focus-within,
			&:hover {
				border-color: var(--oa-main-color-lighter);
			}
		}

		.input-group-append {
			display: flex;
			flex-direction: column;
		}

		input[type="search"],
		button[type="submit"] {
			border: none;
			background: transparent;

			&:focus,
			&:hover {
				border: none;
				outline: none;
			}
		}

		input[type="search"] {
			flex: 1;
		}

		button[type="submit"] {
			color: var(--oa-main-color);
			flex: 1;

			&:hover,
			&:focus {
				background: transparent;
				border: none;
				color: var(--oa-main-color-lighter);
				outline: 2px solid var(--oa-main-color-lighter);
			}
		}
	}

	/*********************************
	* Choice widget
	*********************************/
	.oa-choice-widget {
		display: flex;
		flex-direction: column;
		gap: var(--oa-spacing-1);
		align-items: start;

		&>* {
			margin: 0;
		}

		.oa-choice-option-label {
			display: flex;
			align-items: center;
			gap: var(--oa-spacing-2);
		}

		.oa-filter-total {
			font-size: smaller;
		}
	}


	/*********************************
	* Favorite widget
	*********************************/
	button.oa-event-favorite-badge {
		align-items: center;
		background: transparent;
		border: none;
		display: inline-flex;
		font-size: var(--oa-text-3);
		gap: 0;
		padding: var(--oa-spacing-1);

		&:hover,
		&:focus {
			cursor: pointer;
			outline: 1px solid var(--oa-main-color-lighter);
		}

		.inactive-icon {
			display: inline-block;
		}

		.active-icon {
			display: none;
		}

		&.active {
			.active-icon {
				display: inline-block;
			}

			.inactive-icon {
				display: none;
			}
		}
	}


	/*********************
	* Language switcher
	*********************/
	.oa-languages {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: var(--oa-spacing-2) 0;
	}

	.oa-language-link {
		border-top: 2px solid transparent;
		border-bottom: 2px solid transparent;
		font-size: var(--oa-text-3);
		text-transform: uppercase;
		padding: var(--oa-spacing-1);

		a {
			text-decoration: none;
		}

		&.active,
		&:focus-within,
		&:hover {
			border-bottom: 2px solid var(--oa-main-color);
		}
	}


	/*****************************
	* Exports and Share Buttons
	*****************************/
	.oa-exports,
	.oa-sharers {
		align-items: center;
		display: flex;
		font-size: var(--oa-text-3);
		justify-content: flex-end;
		margin: var(--oa-spacing-2) 0;
		gap: var(--oa-spacing-1);
	}

	ul.oa-exports-links,
	ul.oa-sharers-links {
		display: flex;
		gap: var(--oa-spacing-1);
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.oa-export-button,
	.oa-sharer-button {
		padding: var(--oa-spacing-1);
	}

	.oa-registration-label,
	.oa-access-link-label {
		display: block;
	}


	/*********************************
	* Date Range and Calendar widget
	*********************************/
	.rdrCalendarWrapper {
		box-sizing: border-box;
		display: -webkit-inline-flex;
		display: inline-flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 100%;
	}

	.rdrDateDisplay {
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
	}

	.rdrDateDisplayItem {
		-webkit-box-flex: 1;
		flex: 1 1;
		width: 0;
		text-align: center;
		color: inherit;
	}

	.rdrDateDisplayItem+.rdrDateDisplayItem {
		margin-left: var(--oa-spacing-3);
	}

	.rdrDateDisplayItem input {
		text-align: inherit;
	}

	.rdrDateDisplayItem input:disabled {
		cursor: default;
	}

	.rdrMonthAndYearWrapper {
		box-sizing: inherit;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
	}

	.rdrMonthAndYearPickers {
		-webkit-box-flex: 1;
		flex: 1 1 auto;
		flex-wrap: wrap;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
	}

	.rdrNextPrevButton {
		box-sizing: inherit;
		cursor: pointer;
		outline: none;
	}

	.rdrPprevButton {
		margin: 0 0 0 var(--oa-spacing-3);
	}

	.rdrNextButton {
		margin: 0 var(--oa-spacing-3) 0 0;
	}

	.rdrMonths {
		display: -webkit-flex;
		display: flex;
	}

	.rdrMonthsVertical {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}

	.rdrMonthsHorizontal>div>div>div {
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
	}

	.rdrWeekDays {
		display: -webkit-flex;
		display: flex;
	}

	.rdrWeekDay {
		flex-basis: calc(100% / 7);
		box-sizing: inherit;
		text-align: center;
	}

	.rdrDays {
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;

		button.rdrDay {
			background: transparent;

			&:hover,
			&:focus {
				background: transparent;
				outline: none;
			}
		}
	}

	.rdrInfiniteMonths {
		overflow: auto;
	}

	.rdrDateRangeWrapper {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.rdrDateInput {
		position: relative;
	}

	.rdrDateInput input {
		outline: none;
	}

	.rdrDateInput .rdrWarning {
		position: absolute;
		font-size: var(--oa-text-7);
		line-height: 1.6;
		top: 0;
		right: var(--oa-spacing-1);
		color: var(--oa-danger-900);
	}

	.rdrDay {
		box-sizing: border-box;
		width: calc(100% / 7);
		position: relative;
		font: inherit;
		cursor: pointer;
	}

	.rdrDayNumber {
		display: block;
		position: relative;
	}

	.rdrDayNumber span {
		color: var(--oa-gray-800);
	}

	.rdrDayDisabled {
		cursor: not-allowed;
	}

	@supports (-ms-ime-align: auto) {
		.rdrDay {
			flex-basis: 14.285% !important;
		}
	}

	.rdrSelected,
	.rdrInRange,
	.rdrStartEdge,
	.rdrEndEdge {
		pointer-events: none;
	}

	.rdrDayStartPreview,
	.rdrDayInPreview,
	.rdrDayEndPreview {
		pointer-events: none;
	}

	.rdrDateRangePickerWrapper {
		display: -webkit-inline-flex;
		display: inline-flex;
		align-items: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 100%;
	}

	.rdrStaticRanges {
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.rdrStaticRanges:empty {
		display: none;
	}

	.rdrStaticRange {
		font-size: inherit;
		border: none;
	}

	.rdrInputRanges:empty {
		display: none;
	}

	.rdrInputRange {
		display: -webkit-flex;
		display: flex;
	}

	// THEME
	.rdrCalendarWrapper {
		color: var(--oa-gray-900);
		font-size: var(--oa-text-2);
	}

	.rdrDateDisplay {
		// margin: 0.833em;
		margin: var(--oa-spacing-3);
	}

	.rdrDateDisplayItem {
		border-radius: 4px;
		background-color: #fff;
		box-shadow: 0 1px 2px 0 rgba(35, 57, 66, 0.21);
		border: 1px solid transparent;
	}

	.rdrDateDisplayItem input {
		cursor: pointer;
		height: 2.5em;
		line-height: 2.5;
		border: 0px;
		background: transparent;
		width: 100%;
		color: #849095;
	}

	.rdrDateDisplayItemActive,
	.rdrDateDisplayItem:hover {
		border-color: currentColor;
	}

	.rdrDateDisplayItemActive input {
		color: var(--oa-gray-400)
	}

	.rdrMonthAndYearWrapper {
		-webkit-box-align: center;
		align-items: center;
	}

	.rdrMonthAndYearPickers {
		font-weight: 600;
	}

	.rdrMonthAndYearPickers select {
		-moz-appearance: none;
		appearance: none;
		-webkit-appearance: none;
		border: 0;
		background: transparent;
		padding: 10px 30px 10px 10px;
		border-radius: 4px;
		outline: 0;
		color: #3e484f;
		background: url("data:image/svg+xml;utf8,<svg width='9px' height='6px' viewBox='0 0 9 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate(-636.000000, -171.000000)' fill-opacity='0.368716033'><g id='input' transform='translate(172.000000, 37.000000)' fill='%230E242F' fill-rule='nonzero'><g id='Group-9' transform='translate(323.000000, 127.000000)'><path d='M142.280245,7.23952813 C141.987305,6.92353472 141.512432,6.92361662 141.219585,7.23971106 C140.926739,7.5558055 140.926815,8.06821394 141.219755,8.38420735 L145.498801,13 L149.780245,8.38162071 C150.073185,8.0656273 150.073261,7.55321886 149.780415,7.23712442 C149.487568,6.92102998 149.012695,6.92094808 148.719755,7.23694149 L145.498801,10.7113732 L142.280245,7.23952813 Z' id='arrow'></path></g></g></g></svg>") no-repeat;
		background-position: right 8px center;
		cursor: pointer;
		text-align: center;
	}

	.rdrMonthPicker,
	.rdrYearPicker {
		margin: 0 5px;
		border-radius: 4px;
		border: 1px solid transparent;
	}

	.rdrMonthPicker:hover,
	.rdrYearPicker:hover {
		border: 1px solid var(--oa-main-color);
	}

	button.rdrNextPrevButton {
		display: block;
		width: 24px;
		min-width: 24px;
		height: 24px;
		padding: 0;
		border: 1px solid transparent;
		border-radius: 5px;
		background: #fff;
	}

	button.rdrNextPrevButton:hover {
		border-color: var(--oa-main-color);
		outline: none;
		background-color: transparent;
	}

	button.rdrNextPrevButton i {
		display: block;
		width: 0;
		height: 0;
		padding: 0;
		text-align: center;
		border-style: solid;
		margin: auto;
		// -webkit-transform: translate(-3px, 0px);
		// transform: translate(-3px, 0px);
	}

	.rdrPprevButton i {
		border-width: 4px 6px 4px 4px;
		border-color: transparent rgb(52, 73, 94) transparent transparent;
		-webkit-transform: translate(-3px, 0px);
		transform: translate(-3px, 0px);
	}

	.rdrNextButton i {
		margin: 0 0 0 7px;
		border-width: 4px 4px 4px 6px;
		border-color: transparent transparent transparent rgb(52, 73, 94);
		-webkit-transform: translate(3px, 0px);
		transform: translate(3px, 0px);
	}

	.rdrWeekDays {
		padding: 0 0.833em;
	}

	.rdrMonth {
		padding: 0 0.833em 1.666em 0.833em;
		width: 100%;
	}

	.rdrMonth .rdrWeekDays {
		padding: 0;
	}

	.rdrMonths.rdrMonthsVertical .rdrMonth:first-child .rdrMonthName {
		display: none;
	}

	.rdrWeekDay {
		font-weight: 400;
		line-height: 2.667em;
		color: rgb(132, 144, 149);
	}

	button.rdrDay {
		background: #fff;
		background-clip: content-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: 0;
		padding: 5px 0;
		line-height: 3em;
		height: 3em;
		text-align: center;
		color: #{map.get($colors, grey-900)};
	}

	.rdrDay.rdrDayPassive {
		background: transparent;
	}

	.rdrDay:focus {
		outline: 0;
	}

	.rdrDayNumber {
		outline: 0;
		font-weight: 300;
		position: absolute;
		left: 0;
		right: 0;
		top: 5px;
		bottom: 5px;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: center;
		justify-content: center;
	}

	.rdrDayToday .rdrDayNumber span {
		font-weight: 500;
	}

	.rdrDayToday .rdrDayNumber span:after {
		content: "";
		position: absolute;
		bottom: 4px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		width: 18px;
		height: 2px;
		border-radius: 2px;
		background: var(--oa-main-color);
	}

	.rdrDayToday:not(.rdrDayPassive) .rdrInRange~.rdrDayNumber span:after,
	.rdrDayToday:not(.rdrDayPassive) .rdrStartEdge~.rdrDayNumber span:after,
	.rdrDayToday:not(.rdrDayPassive) .rdrEndEdge~.rdrDayNumber span:after,
	.rdrDayToday:not(.rdrDayPassive) .rdrSelected~.rdrDayNumber span:after {
		background: #fff;
	}

	.rdrDay:not(.rdrDayPassive) .rdrInRange~.rdrDayNumber span,
	.rdrDay:not(.rdrDayPassive) .rdrStartEdge~.rdrDayNumber span,
	.rdrDay:not(.rdrDayPassive) .rdrEndEdge~.rdrDayNumber span,
	.rdrDay:not(.rdrDayPassive) .rdrSelected~.rdrDayNumber span {
		color: rgba(255, 255, 255, 0.85);
	}

	.rdrSelected,
	.rdrInRange,
	.rdrStartEdge,
	.rdrEndEdge {
		background: var(--oa-main-color);
		position: absolute;
		top: 5px;
		left: 0;
		right: 0;
		bottom: 5px;
	}

	.rdrSelected {
		background: var(--oa-main-color);
		left: 2px;
		right: 2px;
	}

	.rdrStartEdge {
		border-top-left-radius: 1.042em;
		border-bottom-left-radius: 1.042em;
		left: 2px;
	}

	.rdrEndEdge {
		border-top-right-radius: 1.042em;
		border-bottom-right-radius: 1.042em;
		right: 2px;
	}

	.rdrSelected {
		border-radius: 1.042em;
	}

	.rdrDayStartOfMonth .rdrInRange,
	.rdrDayStartOfMonth .rdrEndEdge,
	.rdrDayStartOfWeek .rdrInRange,
	.rdrDayStartOfWeek .rdrEndEdge {
		border-top-left-radius: 1.042em;
		border-bottom-left-radius: 1.042em;
		left: 2px;
	}

	.rdrDayEndOfMonth .rdrInRange,
	.rdrDayEndOfMonth .rdrStartEdge,
	.rdrDayEndOfWeek .rdrInRange,
	.rdrDayEndOfWeek .rdrStartEdge {
		border-top-right-radius: 1.042em;
		border-bottom-right-radius: 1.042em;
		right: 2px;
	}

	.rdrDayStartOfMonth .rdrDayInPreview,
	.rdrDayStartOfMonth .rdrDayEndPreview,
	.rdrDayStartOfWeek .rdrDayInPreview,
	.rdrDayStartOfWeek .rdrDayEndPreview {
		border-top-left-radius: 1.333em;
		border-bottom-left-radius: 1.333em;
		border-left-width: 1px;
		left: 1px;
	}

	.rdrDayEndOfMonth .rdrDayInPreview,
	.rdrDayEndOfMonth .rdrDayStartPreview,
	.rdrDayEndOfWeek .rdrDayInPreview,
	.rdrDayEndOfWeek .rdrDayStartPreview {
		border-top-right-radius: 1.333em;
		border-bottom-right-radius: 1.333em;
		border-right-width: 1px;
		right: 1px;
	}

	.rdrDayStartPreview,
	.rdrDayInPreview,
	.rdrDayEndPreview {
		background: rgba(255, 255, 255, 0.09);
		position: absolute;
		top: 5px;
		left: 0px;
		right: 0px;
		bottom: 5px;
		pointer-events: none;
		border: 0px solid var(--oa-main-color);
		z-index: 1;
	}

	.rdrDayStartPreview {
		border-top-width: 1px;
		border-left-width: 1px;
		border-bottom-width: 1px;
		border-top-left-radius: 1.333em;
		border-bottom-left-radius: 1.333em;
		left: 1px;
	}

	.rdrDayInPreview {
		border-top-width: 1px;
		border-bottom-width: 1px;
	}

	.rdrDayEndPreview {
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 1px;
		border-top-right-radius: 1.333em;
		border-bottom-right-radius: 1.333em;
		right: 1px;
	}

	.rdrDefinedRangesWrapper {
		font-size: var(--oa-text-2);
	}

	.rdrDefinedRangesWrapper .rdrStaticRangeSelected {
		border-color: var(--oa-main-color);
		color: var(--oa-main-color) ! important;
		font-weight: 600;
	}

	button.rdrStaticRange {
		background: transparent;
		box-shadow: 0 1px 2px 0 rgba(35, 57, 66, 0.21);
		border: 1px solid transparent;
		border-radius: 4px;
		color: inherit;
		cursor: pointer;
		display: block;
		margin-bottom: 8px;
		outline: 0;
		padding: 0;

		&:hover,
		&:focus {
			color: inherit;
			background: transparent;
			border-color: var(--oa-main-color);
			outline: none;
		}
	}

	.rdrStaticRange+.rdrStaticRange {
		margin-left: 8px;
	}

	.rdrStaticRange:hover .rdrStaticRangeLabel,
	.rdrStaticRange:focus .rdrStaticRangeLabel {
		// background: #eff2f7;
	}

	.rdrStaticRangeLabel {
		color: inherit;
		display: block;
		font-weight: normal;
		line-height: 18px;
		outline: 0;
		padding: 5px;
		text-align: left;
		text-transform: none;
	}

	.rdrInputRanges {
		padding: 10px 0;
	}

	.rdrInputRange {
		-webkit-box-align: center;
		align-items: center;
		padding: 5px 20px;
	}

	.rdrInputRangeInput {
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 4px;
		text-align: center;
		border: solid 1px rgb(222, 231, 235);
		margin-right: 10px;
		color: rgb(108, 118, 122);
	}

	.rdrInputRangeInput:focus,
	.rdrInputRangeInput:hover {
		border-color: var(--oa-main-color);
		outline: 0;
		color: var(--oa-gray-900);
	}

	.rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after {
		content: "";
		border: 1px solid currentColor;
		border-radius: 1.333em;
		position: absolute;
		top: -2px;
		bottom: -2px;
		left: 0px;
		right: 0px;
		background: transparent;
	}

	.rdrDayPassive {
		pointer-events: none;
	}

	.rdrDayPassive .rdrDayNumber span {
		color: var(--oa-gray-400);
	}

	.rdrDayPassive .rdrInRange,
	.rdrDayPassive .rdrStartEdge,
	.rdrDayPassive .rdrEndEdge,
	.rdrDayPassive .rdrSelected,
	.rdrDayPassive .rdrDayStartPreview,
	.rdrDayPassive .rdrDayInPreview,
	.rdrDayPassive .rdrDayEndPreview {
		display: none;
	}

	.rdrDayDisabled {
		background-color: var(--oa-gray-100);
	}

	.rdrDayDisabled .rdrDayNumber span {
		color: var(--oa-gray-300);
	}

	.rdrDayDisabled .rdrInRange,
	.rdrDayDisabled .rdrStartEdge,
	.rdrDayDisabled .rdrEndEdge,
	.rdrDayDisabled .rdrSelected,
	.rdrDayDisabled .rdrDayStartPreview,
	.rdrDayDisabled .rdrDayInPreview,
	.rdrDayDisabled .rdrDayEndPreview {
		-webkit-filter: grayscale(100%) opacity(60%);
		filter: grayscale(100%) opacity(60%);
	}

	.rdrMonthName {
		text-align: left;
		font-weight: 600;
		color: var(--oa-gray-600);
		padding: var(--oa-spacing-3);
	}

	// OA Tweaks
	.rdrMonthName {
		display: none;
	}

	.rdrDayStartOfWeek,
	.rdrDayStartOfMonth {
		border-top-left-radius: 1.333em;
		border-bottom-left-radius: 1.333em;
		left: 2px;
	}

	.rdrDayEndOfWeek,
	.rdrDayEndOfMonth {
		border-top-right-radius: 1.333em;
		border-bottom-right-radius: 1.333em;
		right: 2px;
	}

	.rdrNoSelection {

		.rdrSelected,
		.rdrInRange,
		.rdrStartEdge,
		.rdrEndEdge {
			background: #fff;
		}

		.rdrDay:not(.rdrDayPassive) .rdrInRange~.rdrDayNumber span,
		.rdrDay:not(.rdrDayPassive) .rdrStartEdge~.rdrDayNumber span,
		.rdrDay:not(.rdrDayPassive) .rdrEndEdge~.rdrDayNumber span,
		.rdrDay:not(.rdrDayPassive) .rdrSelected~.rdrDayNumber span {
			color: var(--oa-gray-900);

			&:after {
				background: var(--oa-main-color);
			}
		}
	}
}