:root {
  scroll-behavior: smooth;
  --oa-main-color: #41acdd;
  --oa-main-color-lighter: #86caea;
  --oa-main-color-darker: #1f80ad;
  --oa-primary-50: #eef7fc;
  --oa-primary-100: #cbe8f6;
  --oa-primary-200: #a8d9f0;
  --oa-primary-300: #86caea;
  --oa-primary-400: #63bbe3;
  --oa-primary-500: #41acdd;
  --oa-primary-600: #259ad0;
  --oa-primary-700: #1f80ad;
  --oa-primary-800: #18678b;
  --oa-primary-900: #124D68;
  --oa-gray-10: #fafafa;
  --oa-gray-50: #efefef;
  --oa-gray-100: #eeeeee;
  --oa-gray-200: #d6d6d6;
  --oa-gray-300: #b8b8b8;
  --oa-gray-400: #999999;
  --oa-gray-500: #858585;
  --oa-gray-600: #707070;
  --oa-gray-700: #5c5c5c;
  --oa-gray-800: #474747;
  --oa-gray-900: #333333;
  --oa-warning-100: #f8c663;
  --oa-warning-200: #f7bf50;
  --oa-warning-300: #f6b83c;
  --oa-warning-400: #f5b129;
  --oa-warning-500: #f4aA15;
  --oa-warning-600: #eaa00b;
  --oa-warning-700: #d6920a;
  --oa-warning-800: #c38509;
  --oa-warning-900: #af7808;
  --oa-danger-50: #fff5f5;
  --oa-danger-100: #feD7D7;
  --oa-danger-200: #feb2b2;
  --oa-danger-300: #fc8181;
  --oa-danger-400: #f56565;
  --oa-danger-500: #e53e3e;
  --oa-danger-600: #c53030;
  --oa-danger-700: #9b2c2c;
  --oa-danger-800: #822727;
  --oa-danger-900: #63171b;
  --oa-state-refused: #da4453;
  --oa-state-toControl: #ffffff;
  --oa-state-controlled: #f6bb42;
  --oa-state-published: #5cb85c;
  --oa-spacing-0: 0;
  --oa-spacing-1: 0.25rem;
  --oa-spacing-2: 0.5rem;
  --oa-spacing-3: 0.75rem;
  --oa-spacing-4: 1rem;
  --oa-spacing-5: 1.5rem;
  --oa-spacing-6: 2rem;
  --oa-spacing-7: 3rem;
  --oa-spacing-8: 4rem;
  --oa-spacing-9: 6rem;
  --oa-spacing-auto: auto;
  --oa-text-0: 0.5rem;
  --oa-text-1: 0.625rem;
  --oa-text-2: 0.75rem;
  --oa-text-3: 0.875rem;
  --oa-text-4: 1rem;
  --oa-text-5: 1.125rem;
  --oa-text-6: 1.25rem;
  --oa-text-7: 1.5rem;
  --oa-text-8: 2rem;
  --oa-text-9: 3rem;
}

/*****************************
 * Theme fixes and helpers
 *****************************/
img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: bold;
}

.oa-sr-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/*************************
 * Events styles
 *************************/
.single-oa-calendar,
.oa-preview {
  /******************
  * Update overlay
  ******************/
  /***************
  * Notices
  **************/
  /*************************
  * Events lists and grid
  *************************/
  /*******************
  * Pagination
  *******************/
  /**************
  * Navigation
  **************/
  /***********************
  * Single event styles
  ***********************/
  /***********
  * Timings
  ***********/
  /*******************
  * Location styles
  *******************/
  /*********************************
  * Filters widgets
  *********************************/
  /*********************************
  * Active filters widget
  *********************************/
  /*********************************
  * Search widget
  *********************************/
  /*********************************
  * Choice widget
  *********************************/
  /*********************************
  * Date Range and Calendar widget
  *********************************/
}
.single-oa-calendar .oa-event-title,
.oa-preview .oa-event-title {
  color: var(--oa-gray-900);
  margin: 0;
}
.single-oa-calendar .oa-event-details,
.single-oa-calendar .oa-event-additional-fields,
.single-oa-calendar .oa-event-location,
.oa-preview .oa-event-details,
.oa-preview .oa-event-additional-fields,
.oa-preview .oa-event-location {
  display: flex;
  flex-direction: column;
  gap: var(--oa-spacing-2);
}
.single-oa-calendar .oa-event-details > *,
.single-oa-calendar .oa-event-additional-fields > *,
.single-oa-calendar .oa-event-location > *,
.oa-preview .oa-event-details > *,
.oa-preview .oa-event-additional-fields > *,
.oa-preview .oa-event-location > * {
  margin: 0;
}
.single-oa-calendar .oa-label,
.oa-preview .oa-label {
  color: var(--oa-gray-700);
  font-size: var(--oa-text-4);
  margin-bottom: var(--oa-spacing-1);
}
.single-oa-calendar .oa-button,
.oa-preview .oa-button {
  background: transparent;
  border: 1px solid var(--oa-main-color);
  border-radius: 4px;
  color: var(--oa-main-color);
  font-size: var(--oa-text-3);
  line-height: 1;
  padding: var(--oa-spacing-2);
  text-decoration: none;
}
.single-oa-calendar .oa-button:hover, .single-oa-calendar .oa-button:focus,
.oa-preview .oa-button:hover,
.oa-preview .oa-button:focus {
  border-color: var(--oa-main-color-darker);
  color: var(--oa-main-color-darker);
}
.single-oa-calendar .oa-icon,
.oa-preview .oa-icon {
  width: var(--oa-text-4);
  height: var(--oa-text-4);
  fill: currentColor;
}
.single-oa-calendar .oa-icon-refresh,
.oa-preview .oa-icon-refresh {
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}
.single-oa-calendar div[data-container-id=oa-wrapper],
.oa-preview div[data-container-id=oa-wrapper] {
  position: relative;
}
.single-oa-calendar div[data-container-id=oa-wrapper] .oa-update-overlay,
.oa-preview div[data-container-id=oa-wrapper] .oa-update-overlay {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  padding: var(--oa-spacing-6);
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;
}
.single-oa-calendar div[data-container-id=oa-wrapper] .oa-update-overlay .oa-icon-refresh,
.oa-preview div[data-container-id=oa-wrapper] .oa-update-overlay .oa-icon-refresh {
  display: inline-block;
  height: var(--oa-spacing-6);
  margin: 0 var(--oa-spacing-4);
  width: var(--oa-spacing-6);
}
.single-oa-calendar div[data-container-id=oa-wrapper] .oa-update-overlay p,
.oa-preview div[data-container-id=oa-wrapper] .oa-update-overlay p {
  margin: var(--oa-spacing-4) 0;
}
.single-oa-calendar .oa-notice,
.oa-preview .oa-notice {
  padding: var(--oa-spacing-4);
  margin-bottom: var(--oa-spacing-4);
}
.single-oa-calendar .oa-notice p,
.oa-preview .oa-notice p {
  margin: 0;
}
.single-oa-calendar .oa-notice-error,
.oa-preview .oa-notice-error {
  background-color: #FEF2F2;
  border-left: 3px solid var(--oa-danger-900);
}
.single-oa-calendar .event-map,
.oa-preview .event-map {
  height: 300px;
}
.single-oa-calendar .map-container .leaflet-container,
.oa-preview .map-container .leaflet-container {
  height: 300px;
}
.single-oa-calendar .oa-event-list,
.single-oa-calendar .oa-event-grid,
.oa-preview .oa-event-list,
.oa-preview .oa-event-grid {
  display: grid;
  grid-gap: var(--oa-spacing-7);
}
.single-oa-calendar .oa-event-list a.oa-event-wrapper,
.single-oa-calendar .oa-event-grid a.oa-event-wrapper,
.oa-preview .oa-event-list a.oa-event-wrapper,
.oa-preview .oa-event-grid a.oa-event-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}
.single-oa-calendar .oa-event-list a.oa-event-wrapper:hover, .single-oa-calendar .oa-event-list a.oa-event-wrapper:focus,
.single-oa-calendar .oa-event-grid a.oa-event-wrapper:hover,
.single-oa-calendar .oa-event-grid a.oa-event-wrapper:focus,
.oa-preview .oa-event-list a.oa-event-wrapper:hover,
.oa-preview .oa-event-list a.oa-event-wrapper:focus,
.oa-preview .oa-event-grid a.oa-event-wrapper:hover,
.oa-preview .oa-event-grid a.oa-event-wrapper:focus {
  text-decoration: none;
}
.single-oa-calendar .oa-event-list .oa-event-range,
.single-oa-calendar .oa-event-grid .oa-event-range,
.oa-preview .oa-event-list .oa-event-range,
.oa-preview .oa-event-grid .oa-event-range {
  color: var(--oa-gray-900);
}
.single-oa-calendar .oa-event-list .oa-event-title,
.single-oa-calendar .oa-event-grid .oa-event-title,
.oa-preview .oa-event-list .oa-event-title,
.oa-preview .oa-event-grid .oa-event-title {
  font-size: inherit;
  font-weight: bold;
}
.single-oa-calendar .oa-event-list .oa-event,
.single-oa-calendar .oa-event-grid .oa-event,
.oa-preview .oa-event-list .oa-event,
.oa-preview .oa-event-grid .oa-event {
  border: 1px solid var(--oa-gray-400);
  position: relative;
}
.single-oa-calendar .oa-event-list .oa-event:hover,
.single-oa-calendar .oa-event-grid .oa-event:hover,
.oa-preview .oa-event-list .oa-event:hover,
.oa-preview .oa-event-grid .oa-event:hover {
  border-color: var(--oa-gray-600);
}
.single-oa-calendar .oa-event-list .oa-event-description,
.single-oa-calendar .oa-event-grid .oa-event-description,
.oa-preview .oa-event-list .oa-event-description,
.oa-preview .oa-event-grid .oa-event-description {
  color: var(--oa-gray-700);
}
.single-oa-calendar .oa-event-list .oa-event-details,
.single-oa-calendar .oa-event-grid .oa-event-details,
.oa-preview .oa-event-list .oa-event-details,
.oa-preview .oa-event-grid .oa-event-details {
  flex: 1;
  font-size: var(--oa-text-4);
  padding: var(--oa-spacing-5);
}
.single-oa-calendar .oa-event-list .oa-event-thumbnail,
.single-oa-calendar .oa-event-grid .oa-event-thumbnail,
.oa-preview .oa-event-list .oa-event-thumbnail,
.oa-preview .oa-event-grid .oa-event-thumbnail {
  height: 170px;
}
.single-oa-calendar .oa-event-list .oa-event-thumbnail img,
.single-oa-calendar .oa-event-grid .oa-event-thumbnail img,
.oa-preview .oa-event-list .oa-event-thumbnail img,
.oa-preview .oa-event-grid .oa-event-thumbnail img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.single-oa-calendar .oa-event-list .oa-event-location-label,
.single-oa-calendar .oa-event-grid .oa-event-location-label,
.oa-preview .oa-event-list .oa-event-location-label,
.oa-preview .oa-event-grid .oa-event-location-label {
  color: var(--oa-gray-700);
  font-size: var(--oa-text-3);
  margin-top: auto;
}
.single-oa-calendar .oa-event-list .oa-event-featured-badge,
.single-oa-calendar .oa-event-grid .oa-event-featured-badge,
.oa-preview .oa-event-list .oa-event-featured-badge,
.oa-preview .oa-event-grid .oa-event-featured-badge {
  --gradient-from: white 36px;
  --gradient-to: transparent 0;
  background-image: linear-gradient(to bottom right, var(--gradient-from), var(--gradient-to));
  height: 52px;
  left: 0px;
  line-height: 1;
  position: absolute;
  top: 0px;
  width: 52px;
  z-index: 10;
}
.single-oa-calendar .oa-event-list .oa-event-featured-badge .oa-event-featured-badge-wrapper,
.single-oa-calendar .oa-event-grid .oa-event-featured-badge .oa-event-featured-badge-wrapper,
.oa-preview .oa-event-list .oa-event-featured-badge .oa-event-featured-badge-wrapper,
.oa-preview .oa-event-grid .oa-event-featured-badge .oa-event-featured-badge-wrapper {
  --gradient-from: var(--oa-main-color) 32px;
  background-image: linear-gradient(to bottom right, var(--gradient-from), var(--gradient-to));
  height: 100%;
  padding: 2px;
  width: 100%;
}
.single-oa-calendar .oa-event-list .oa-event-featured-badge .oa-icon,
.single-oa-calendar .oa-event-grid .oa-event-featured-badge .oa-icon,
.oa-preview .oa-event-list .oa-event-featured-badge .oa-icon,
.oa-preview .oa-event-grid .oa-event-featured-badge .oa-icon {
  color: white;
  margin-top: var(--oa-spacing-1);
  margin-left: var(--oa-spacing-1);
}
@media screen and (min-width: 700px) {
  .single-oa-calendar .oa-event-grid,
.oa-preview .oa-event-grid {
    grid-template-columns: repeat(auto-fill, minmax(min(290px, 100%), 1fr));
  }
}
.single-oa-calendar ul.oa-pagination,
.oa-preview ul.oa-pagination {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--oa-text-4);
  justify-content: end;
  list-style: none;
  margin: var(--oa-spacing-4) 0;
  padding: 0;
}
.single-oa-calendar ul.oa-pagination .oa-page,
.oa-preview ul.oa-pagination .oa-page {
  margin: 0;
}
.single-oa-calendar ul.oa-pagination .oa-page a,
.single-oa-calendar ul.oa-pagination .oa-page span,
.oa-preview ul.oa-pagination .oa-page a,
.oa-preview ul.oa-pagination .oa-page span {
  display: inline-block;
  line-height: 1;
  padding: var(--oa-spacing-2);
  color: var(--oa-gray-700);
}
.single-oa-calendar ul.oa-pagination .oa-page a:hover,
.single-oa-calendar ul.oa-pagination .oa-page a:focus,
.oa-preview ul.oa-pagination .oa-page a:hover,
.oa-preview ul.oa-pagination .oa-page a:focus {
  color: var(--oa-main-color);
}
.single-oa-calendar .oa-event-navigation,
.oa-preview .oa-event-navigation {
  align-items: center;
  display: flex;
  justify-content: end;
  gap: var(--oa-spacing-2);
  flex-wrap: wrap;
  margin: var(--oa-spacing-4) 0;
}
.single-oa-calendar .oa-nav-link,
.oa-preview .oa-nav-link {
  align-items: center;
  box-shadow: none;
  color: var(--oa-main-color);
  display: inline-flex;
  line-height: 1;
  padding: var(--oa-spacing-2);
}
.single-oa-calendar .oa-nav-link:hover, .single-oa-calendar .oa-nav-link:focus,
.oa-preview .oa-nav-link:hover,
.oa-preview .oa-nav-link:focus {
  color: var(--oa-main-color-darker);
  fill: var(--oa-main-color-darker);
}
.single-oa-calendar .oa-back-link,
.oa-preview .oa-back-link {
  font-size: var(--oa-text-3);
  margin-right: auto;
  padding: 0;
  text-decoration: none;
}
.single-oa-calendar .oa-previous-link,
.single-oa-calendar .oa-next-link,
.oa-preview .oa-previous-link,
.oa-preview .oa-next-link {
  text-decoration: none;
}
.single-oa-calendar .oa-previous-link .oa-icon,
.single-oa-calendar .oa-next-link .oa-icon,
.oa-preview .oa-previous-link .oa-icon,
.oa-preview .oa-next-link .oa-icon {
  font-size: var(--oa-text-5);
}
.single-oa-calendar .oa-single-event .oa-event-wrapper,
.oa-preview .oa-single-event .oa-event-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--oa-spacing-4);
}
.single-oa-calendar .oa-single-event .oa-event-wrapper > *,
.oa-preview .oa-single-event .oa-event-wrapper > * {
  margin: 0;
}
.single-oa-calendar .oa-single-event .oa-event-title,
.oa-preview .oa-single-event .oa-event-title {
  font-weight: normal;
}
.single-oa-calendar .oa-single-event .oa-event-description,
.oa-preview .oa-single-event .oa-event-description {
  color: var(--oa-gray-900);
  font-size: var(--oa-text-6);
}
.single-oa-calendar .oa-single-event .oa-event-details > div,
.single-oa-calendar .oa-single-event .oa-registration-method-wrapper,
.oa-preview .oa-single-event .oa-event-details > div,
.oa-preview .oa-single-event .oa-registration-method-wrapper {
  align-items: center;
  color: var(--oa-gray-900);
  column-gap: var(--oa-spacing-4);
  display: grid;
  font-size: var(--oa-text-3);
  grid-template-columns: 2rem 1fr;
  place-items: center start;
  row-gap: var(--oa-spacing-1);
}
.single-oa-calendar .oa-single-event .oa-event-details > div .oa-icon,
.single-oa-calendar .oa-single-event .oa-registration-method-wrapper .oa-icon,
.oa-preview .oa-single-event .oa-event-details > div .oa-icon,
.oa-preview .oa-single-event .oa-registration-method-wrapper .oa-icon {
  fill: var(--oa-gray-400);
  width: var(--oa-text-6);
  height: var(--oa-text-6);
}
.single-oa-calendar .oa-single-event .oa-registration-method-wrapper svg.oa-icon,
.oa-preview .oa-single-event .oa-registration-method-wrapper svg.oa-icon {
  width: var(--oa-text-4);
  height: var(--oa-text-4);
}
.single-oa-calendar .oa-single-event .oa-event-thumbnail figcaption,
.single-oa-calendar .oa-single-event .oa-event-location-image figcaption,
.oa-preview .oa-single-event .oa-event-thumbnail figcaption,
.oa-preview .oa-single-event .oa-event-location-image figcaption {
  color: var(--oa-gray-500);
  font-size: var(--oa-text-3);
}
.single-oa-calendar .oa-single-event .oa-event-longDescription,
.oa-preview .oa-single-event .oa-event-longDescription {
  font-size: var(--oa-text-4);
}
.single-oa-calendar .oa-single-event .oa-event-longDescription p,
.oa-preview .oa-single-event .oa-event-longDescription p {
  margin-top: 0;
  margin-bottom: var(--oa-spacing-4);
}
.single-oa-calendar .oa-single-event .oa-registration-methods,
.oa-preview .oa-single-event .oa-registration-methods {
  list-style: none;
  padding: 0;
  margin: 0;
  grid-column: 2;
  flex-basis: 100%;
}
.single-oa-calendar .oa-single-event .oa-conditions-value,
.oa-preview .oa-single-event .oa-conditions-value {
  grid-column: 2;
}
.single-oa-calendar .oa-single-event .oa-event-keywords,
.oa-preview .oa-single-event .oa-event-keywords {
  color: var(--oa-gray-700);
  font-size: var(--oa-text-3);
}
.single-oa-calendar .oa-single-event .oa-event-additional-fields,
.single-oa-calendar .oa-single-event .oa-event-location,
.oa-preview .oa-single-event .oa-event-additional-fields,
.oa-preview .oa-single-event .oa-event-location {
  color: var(--oa-gray-700);
  margin-bottom: var(--oa-spacing-7);
  gap: var(--oa-spacing-4);
}
.single-oa-calendar .oa-single-event .oa-event-additional-fields .oa-label,
.single-oa-calendar .oa-single-event .oa-event-location .oa-label,
.oa-preview .oa-single-event .oa-event-additional-fields .oa-label,
.oa-preview .oa-single-event .oa-event-location .oa-label {
  display: block;
  font-size: var(--oa-text-3);
  color: var(--oa-gray-900);
}
.single-oa-calendar .oa-single-event .oa-event-additional-fields,
.oa-preview .oa-single-event .oa-event-additional-fields {
  font-size: var(--oa-text-3);
}
.single-oa-calendar .oa-single-event .oa-event-timings,
.oa-preview .oa-single-event .oa-event-timings {
  margin-bottom: var(--oa-spacing-7);
}
.single-oa-calendar .oa-event-timings,
.oa-preview .oa-event-timings {
  font-size: var(--oa-text-4);
}
.single-oa-calendar .oa-timing,
.oa-preview .oa-timing {
  display: flex;
}
.single-oa-calendar .oa-seperator,
.single-oa-calendar .oa-timing-seperator,
.oa-preview .oa-seperator,
.oa-preview .oa-timing-seperator {
  margin: 0 var(--oa-spacing-1);
}
.single-oa-calendar .oa-timing-times,
.oa-preview .oa-timing-times {
  margin-left: auto;
}
.single-oa-calendar ul.oa-months,
.oa-preview ul.oa-months {
  list-style: none;
  padding: 0;
  margin: 0;
}
.single-oa-calendar li.oa-month,
.oa-preview li.oa-month {
  list-style: none;
}
.single-oa-calendar li.oa-month.oa-hidden,
.oa-preview li.oa-month.oa-hidden {
  display: none;
}
.single-oa-calendar .oa-month-header,
.oa-preview .oa-month-header {
  align-items: center;
  border-bottom: 1px solid var(--oa-gray-300);
  border-top: 1px solid var(--oa-gray-300);
  display: flex;
  justify-content: space-between;
  padding: var(--oa-spacing-2) 0;
}
.single-oa-calendar .oa-month-header .oa-month-label,
.oa-preview .oa-month-header .oa-month-label {
  font-weight: bold;
}
.single-oa-calendar .oa-month-header .oa-button,
.oa-preview .oa-month-header .oa-button {
  border-color: transparent;
}
.single-oa-calendar .oa-month-header .oa-button:hover, .single-oa-calendar .oa-month-header .oa-button:focus,
.oa-preview .oa-month-header .oa-button:hover,
.oa-preview .oa-month-header .oa-button:focus {
  border-color: var(--oa-main-color-darker);
}
.single-oa-calendar ul.oa-week,
.oa-preview ul.oa-week {
  margin-top: 0.75rem;
  list-style: none;
  padding: 0;
}
.single-oa-calendar .oa-event-location,
.oa-preview .oa-event-location {
  font-size: var(--oa-text-4);
}
.single-oa-calendar .oa-event-location-title,
.oa-preview .oa-event-location-title {
  font-size: var(--oa-text-7);
}
.single-oa-calendar .oa-event-location-address,
.oa-preview .oa-event-location-address {
  column-gap: var(--oa-spacing-2);
  display: flex;
  flex-wrap: wrap;
}
.single-oa-calendar .oa-event-location-address .oa-event-location-address-link,
.oa-preview .oa-event-location-address .oa-event-location-address-link {
  flex: 1 0 100%;
}
.single-oa-calendar .oa-event-location-address .oa-event-location-city,
.single-oa-calendar .oa-event-location-address .oa-event-location-region,
.oa-preview .oa-event-location-address .oa-event-location-city,
.oa-preview .oa-event-location-address .oa-event-location-region {
  color: var(--oa-gray-700);
}
.single-oa-calendar .oa-event-location-website,
.single-oa-calendar .oa-event-location-phone,
.single-oa-calendar .oa-event-location-email,
.oa-preview .oa-event-location-website,
.oa-preview .oa-event-location-phone,
.oa-preview .oa-event-location-email {
  display: flex;
  align-items: center;
  gap: var(--oa-spacing-2);
}
.single-oa-calendar .oa-event-location-website .oa-icon,
.single-oa-calendar .oa-event-location-phone .oa-icon,
.single-oa-calendar .oa-event-location-email .oa-icon,
.oa-preview .oa-event-location-website .oa-icon,
.oa-preview .oa-event-location-phone .oa-icon,
.oa-preview .oa-event-location-email .oa-icon {
  fill: var(--oa-gray-400);
}
.single-oa-calendar .oa-event-location-links ul,
.oa-preview .oa-event-location-links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.single-oa-calendar .oa-default-filters,
.oa-preview .oa-default-filters {
  display: flex;
  flex-direction: column;
  gap: var(--oa-spacing-4);
  margin-bottom: var(--oa-spacing-4);
}
.single-oa-calendar .oa-default-filters > *,
.oa-preview .oa-default-filters > * {
  margin: 0;
}
.single-oa-calendar .oa-widget-details,
.oa-preview .oa-widget-details {
  border: 1px solid var(--oa-gray-300);
  color: var(--oa-gray-700);
  cursor: pointer;
  padding: var(--oa-spacing-2);
  font-size: var(--oa-text-3);
}
.single-oa-calendar .oa-widget-details .oa-widget-summary + *,
.oa-preview .oa-widget-details .oa-widget-summary + * {
  margin-top: 1rem;
}
.single-oa-calendar .oa-widget,
.oa-preview .oa-widget {
  color: var(--oa-gray-700);
  font-size: var(--oa-text-3);
}
.single-oa-calendar .oa-widget button,
.single-oa-calendar .oa-widget .btn,
.oa-preview .oa-widget button,
.oa-preview .oa-widget .btn {
  align-items: center;
  background: var(--oa-main-color);
  border: none;
  color: white;
  display: inline-flex;
  font-size: var(--oa-text-3);
  gap: var(--oa-spacing-2);
  padding: var(--oa-spacing-2);
}
.single-oa-calendar .oa-widget button:hover, .single-oa-calendar .oa-widget button:focus,
.single-oa-calendar .oa-widget .btn:hover,
.single-oa-calendar .oa-widget .btn:focus,
.oa-preview .oa-widget button:hover,
.oa-preview .oa-widget button:focus,
.oa-preview .oa-widget .btn:hover,
.oa-preview .oa-widget .btn:focus {
  background: var(--oa-main-color-lighter);
  cursor: pointer;
  color: white;
  outline: 1px solid var(--oa-main-color-lighter);
}
.single-oa-calendar .oa-widget .btn-link,
.oa-preview .oa-widget .btn-link {
  border: none;
  background: transparent;
  color: var(--oa-main-color);
}
.single-oa-calendar .oa-widget .btn-link:hover, .single-oa-calendar .oa-widget .btn-link:focus,
.oa-preview .oa-widget .btn-link:hover,
.oa-preview .oa-widget .btn-link:focus {
  background: transparent;
  border: none;
  color: var(--oa-main-color-lighter);
  text-decoration: underline;
  outline: none;
}
.single-oa-calendar .oa-widget input[type=text],
.single-oa-calendar .oa-widget input[type=search],
.single-oa-calendar .oa-widget input.form-control,
.oa-preview .oa-widget input[type=text],
.oa-preview .oa-widget input[type=search],
.oa-preview .oa-widget input.form-control {
  border: 1px solid var(--oa-gray-300);
  border-radius: 0;
  color: var(--oa-gray-700);
  cursor: pointer;
  display: flex;
  font-size: var(--oa-text-3);
  padding: var(--oa-spacing-2);
}
.single-oa-calendar .oa-widget input[type=text]:hover, .single-oa-calendar .oa-widget input[type=text]:focus,
.single-oa-calendar .oa-widget input[type=search]:hover,
.single-oa-calendar .oa-widget input[type=search]:focus,
.single-oa-calendar .oa-widget input.form-control:hover,
.single-oa-calendar .oa-widget input.form-control:focus,
.oa-preview .oa-widget input[type=text]:hover,
.oa-preview .oa-widget input[type=text]:focus,
.oa-preview .oa-widget input[type=search]:hover,
.oa-preview .oa-widget input[type=search]:focus,
.oa-preview .oa-widget input.form-control:hover,
.oa-preview .oa-widget input.form-control:focus {
  cursor: pointer;
  outline: 1px solid var(--oa-main-color-lighter);
}
.single-oa-calendar .oa-widget input[type=checkbox],
.oa-preview .oa-widget input[type=checkbox] {
  padding: 2px;
  width: 16px;
  height: 16px;
}
.single-oa-calendar .oa-widget input[type=checkbox]:checked,
.oa-preview .oa-widget input[type=checkbox]:checked {
  background-color: var(--oa-main-color);
}
.single-oa-calendar .oa-active-filters-widget button,
.oa-preview .oa-active-filters-widget button {
  margin-right: var(--oa-spacing-2);
  margin-bottom: var(--oa-spacing-2);
}
.single-oa-calendar .oa-search-widget .input-group,
.oa-preview .oa-search-widget .input-group {
  border: 1px solid var(--oa-gray-300);
  border-radius: 0;
  color: var(--oa-gray-700);
  cursor: pointer;
  display: flex;
  font-size: var(--oa-text-3);
  min-height: var(--oa-spacing-6);
}
.single-oa-calendar .oa-search-widget .input-group:focus-within, .single-oa-calendar .oa-search-widget .input-group:hover,
.oa-preview .oa-search-widget .input-group:focus-within,
.oa-preview .oa-search-widget .input-group:hover {
  border-color: var(--oa-main-color-lighter);
}
.single-oa-calendar .oa-search-widget .input-group-append,
.oa-preview .oa-search-widget .input-group-append {
  display: flex;
  flex-direction: column;
}
.single-oa-calendar .oa-search-widget input[type=search],
.single-oa-calendar .oa-search-widget button[type=submit],
.oa-preview .oa-search-widget input[type=search],
.oa-preview .oa-search-widget button[type=submit] {
  border: none;
  background: transparent;
}
.single-oa-calendar .oa-search-widget input[type=search]:focus, .single-oa-calendar .oa-search-widget input[type=search]:hover,
.single-oa-calendar .oa-search-widget button[type=submit]:focus,
.single-oa-calendar .oa-search-widget button[type=submit]:hover,
.oa-preview .oa-search-widget input[type=search]:focus,
.oa-preview .oa-search-widget input[type=search]:hover,
.oa-preview .oa-search-widget button[type=submit]:focus,
.oa-preview .oa-search-widget button[type=submit]:hover {
  border: none;
  outline: none;
}
.single-oa-calendar .oa-search-widget input[type=search],
.oa-preview .oa-search-widget input[type=search] {
  flex: 1;
}
.single-oa-calendar .oa-search-widget button[type=submit],
.oa-preview .oa-search-widget button[type=submit] {
  color: var(--oa-main-color);
  flex: 1;
}
.single-oa-calendar .oa-search-widget button[type=submit]:hover, .single-oa-calendar .oa-search-widget button[type=submit]:focus,
.oa-preview .oa-search-widget button[type=submit]:hover,
.oa-preview .oa-search-widget button[type=submit]:focus {
  background: transparent;
  border: none;
  color: var(--oa-main-color-lighter);
  outline: 2px solid var(--oa-main-color-lighter);
}
.single-oa-calendar .oa-choice-widget,
.oa-preview .oa-choice-widget {
  display: flex;
  flex-direction: column;
  gap: var(--oa-spacing-1);
  align-items: start;
}
.single-oa-calendar .oa-choice-widget > *,
.oa-preview .oa-choice-widget > * {
  margin: 0;
}
.single-oa-calendar .oa-choice-widget .oa-choice-option-label,
.oa-preview .oa-choice-widget .oa-choice-option-label {
  display: flex;
  align-items: center;
  gap: var(--oa-spacing-2);
}
.single-oa-calendar .oa-choice-widget .oa-filter-total,
.oa-preview .oa-choice-widget .oa-filter-total {
  font-size: smaller;
}
.single-oa-calendar .rdrCalendarWrapper,
.oa-preview .rdrCalendarWrapper {
  box-sizing: border-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
.single-oa-calendar .rdrDateDisplay,
.oa-preview .rdrDateDisplay {
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.single-oa-calendar .rdrDateDisplayItem,
.oa-preview .rdrDateDisplayItem {
  -webkit-box-flex: 1;
  flex: 1 1;
  width: 0;
  text-align: center;
  color: inherit;
}
.single-oa-calendar .rdrDateDisplayItem + .rdrDateDisplayItem,
.oa-preview .rdrDateDisplayItem + .rdrDateDisplayItem {
  margin-left: var(--oa-spacing-3);
}
.single-oa-calendar .rdrDateDisplayItem input,
.oa-preview .rdrDateDisplayItem input {
  text-align: inherit;
}
.single-oa-calendar .rdrDateDisplayItem input:disabled,
.oa-preview .rdrDateDisplayItem input:disabled {
  cursor: default;
}
.single-oa-calendar .rdrMonthAndYearWrapper,
.oa-preview .rdrMonthAndYearWrapper {
  box-sizing: inherit;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.single-oa-calendar .rdrMonthAndYearPickers,
.oa-preview .rdrMonthAndYearPickers {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.single-oa-calendar .rdrNextPrevButton,
.oa-preview .rdrNextPrevButton {
  box-sizing: inherit;
  cursor: pointer;
  outline: none;
}
.single-oa-calendar .rdrPprevButton,
.oa-preview .rdrPprevButton {
  margin: 0 0 0 var(--oa-spacing-3);
}
.single-oa-calendar .rdrNextButton,
.oa-preview .rdrNextButton {
  margin: 0 var(--oa-spacing-3) 0 0;
}
.single-oa-calendar .rdrMonths,
.oa-preview .rdrMonths {
  display: -webkit-flex;
  display: flex;
}
.single-oa-calendar .rdrMonthsVertical,
.oa-preview .rdrMonthsVertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.single-oa-calendar .rdrMonthsHorizontal > div > div > div,
.oa-preview .rdrMonthsHorizontal > div > div > div {
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}
.single-oa-calendar .rdrWeekDays,
.oa-preview .rdrWeekDays {
  display: -webkit-flex;
  display: flex;
}
.single-oa-calendar .rdrWeekDay,
.oa-preview .rdrWeekDay {
  flex-basis: 14.2857142857%;
  box-sizing: inherit;
  text-align: center;
}
.single-oa-calendar .rdrDays,
.oa-preview .rdrDays {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.single-oa-calendar .rdrDays button.rdrDay,
.oa-preview .rdrDays button.rdrDay {
  background: transparent;
}
.single-oa-calendar .rdrDays button.rdrDay:hover, .single-oa-calendar .rdrDays button.rdrDay:focus,
.oa-preview .rdrDays button.rdrDay:hover,
.oa-preview .rdrDays button.rdrDay:focus {
  background: transparent;
  outline: none;
}
.single-oa-calendar .rdrInfiniteMonths,
.oa-preview .rdrInfiniteMonths {
  overflow: auto;
}
.single-oa-calendar .rdrDateRangeWrapper,
.oa-preview .rdrDateRangeWrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.single-oa-calendar .rdrDateInput,
.oa-preview .rdrDateInput {
  position: relative;
}
.single-oa-calendar .rdrDateInput input,
.oa-preview .rdrDateInput input {
  outline: none;
}
.single-oa-calendar .rdrDateInput .rdrWarning,
.oa-preview .rdrDateInput .rdrWarning {
  position: absolute;
  font-size: var(--oa-text-7);
  line-height: 1.6;
  top: 0;
  right: var(--oa-spacing-1);
  color: var(--oa-danger-900);
}
.single-oa-calendar .rdrDay,
.oa-preview .rdrDay {
  box-sizing: border-box;
  width: 14.2857142857%;
  position: relative;
  font: inherit;
  cursor: pointer;
}
.single-oa-calendar .rdrDayNumber,
.oa-preview .rdrDayNumber {
  display: block;
  position: relative;
}
.single-oa-calendar .rdrDayNumber span,
.oa-preview .rdrDayNumber span {
  color: var(--oa-gray-800);
}
.single-oa-calendar .rdrDayDisabled,
.oa-preview .rdrDayDisabled {
  cursor: not-allowed;
}
@supports (-ms-ime-align: auto) {
  .single-oa-calendar .rdrDay,
.oa-preview .rdrDay {
    flex-basis: 14.285% !important;
  }
}
.single-oa-calendar .rdrSelected,
.single-oa-calendar .rdrInRange,
.single-oa-calendar .rdrStartEdge,
.single-oa-calendar .rdrEndEdge,
.oa-preview .rdrSelected,
.oa-preview .rdrInRange,
.oa-preview .rdrStartEdge,
.oa-preview .rdrEndEdge {
  pointer-events: none;
}
.single-oa-calendar .rdrDayStartPreview,
.single-oa-calendar .rdrDayInPreview,
.single-oa-calendar .rdrDayEndPreview,
.oa-preview .rdrDayStartPreview,
.oa-preview .rdrDayInPreview,
.oa-preview .rdrDayEndPreview {
  pointer-events: none;
}
.single-oa-calendar .rdrDateRangePickerWrapper,
.oa-preview .rdrDateRangePickerWrapper {
  display: -webkit-inline-flex;
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
.single-oa-calendar .rdrStaticRanges,
.oa-preview .rdrStaticRanges {
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}
.single-oa-calendar .rdrStaticRanges:empty,
.oa-preview .rdrStaticRanges:empty {
  display: none;
}
.single-oa-calendar .rdrStaticRange,
.oa-preview .rdrStaticRange {
  font-size: inherit;
  border: none;
}
.single-oa-calendar .rdrInputRanges:empty,
.oa-preview .rdrInputRanges:empty {
  display: none;
}
.single-oa-calendar .rdrInputRange,
.oa-preview .rdrInputRange {
  display: -webkit-flex;
  display: flex;
}
.single-oa-calendar .rdrCalendarWrapper,
.oa-preview .rdrCalendarWrapper {
  color: var(--oa-gray-900);
  font-size: var(--oa-text-2);
}
.single-oa-calendar .rdrDateDisplay,
.oa-preview .rdrDateDisplay {
  margin: var(--oa-spacing-3);
}
.single-oa-calendar .rdrDateDisplayItem,
.oa-preview .rdrDateDisplayItem {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(35, 57, 66, 0.21);
  border: 1px solid transparent;
}
.single-oa-calendar .rdrDateDisplayItem input,
.oa-preview .rdrDateDisplayItem input {
  cursor: pointer;
  height: 2.5em;
  line-height: 2.5;
  border: 0px;
  background: transparent;
  width: 100%;
  color: #849095;
}
.single-oa-calendar .rdrDateDisplayItemActive,
.single-oa-calendar .rdrDateDisplayItem:hover,
.oa-preview .rdrDateDisplayItemActive,
.oa-preview .rdrDateDisplayItem:hover {
  border-color: currentColor;
}
.single-oa-calendar .rdrDateDisplayItemActive input,
.oa-preview .rdrDateDisplayItemActive input {
  color: var(--oa-gray-400);
}
.single-oa-calendar .rdrMonthAndYearWrapper,
.oa-preview .rdrMonthAndYearWrapper {
  -webkit-box-align: center;
  align-items: center;
}
.single-oa-calendar .rdrMonthAndYearPickers,
.oa-preview .rdrMonthAndYearPickers {
  font-weight: 600;
}
.single-oa-calendar .rdrMonthAndYearPickers select,
.oa-preview .rdrMonthAndYearPickers select {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  padding: 10px 30px 10px 10px;
  border-radius: 4px;
  outline: 0;
  color: #3e484f;
  background: url("data:image/svg+xml;utf8,<svg width='9px' height='6px' viewBox='0 0 9 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate(-636.000000, -171.000000)' fill-opacity='0.368716033'><g id='input' transform='translate(172.000000, 37.000000)' fill='%230E242F' fill-rule='nonzero'><g id='Group-9' transform='translate(323.000000, 127.000000)'><path d='M142.280245,7.23952813 C141.987305,6.92353472 141.512432,6.92361662 141.219585,7.23971106 C140.926739,7.5558055 140.926815,8.06821394 141.219755,8.38420735 L145.498801,13 L149.780245,8.38162071 C150.073185,8.0656273 150.073261,7.55321886 149.780415,7.23712442 C149.487568,6.92102998 149.012695,6.92094808 148.719755,7.23694149 L145.498801,10.7113732 L142.280245,7.23952813 Z' id='arrow'></path></g></g></g></svg>") no-repeat;
  background-position: right 8px center;
  cursor: pointer;
  text-align: center;
}
.single-oa-calendar .rdrMonthPicker,
.single-oa-calendar .rdrYearPicker,
.oa-preview .rdrMonthPicker,
.oa-preview .rdrYearPicker {
  margin: 0 5px;
  border-radius: 4px;
  border: 1px solid transparent;
}
.single-oa-calendar .rdrMonthPicker:hover,
.single-oa-calendar .rdrYearPicker:hover,
.oa-preview .rdrMonthPicker:hover,
.oa-preview .rdrYearPicker:hover {
  border: 1px solid var(--oa-main-color);
}
.single-oa-calendar button.rdrNextPrevButton,
.oa-preview button.rdrNextPrevButton {
  display: block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 5px;
  background: #fff;
}
.single-oa-calendar button.rdrNextPrevButton:hover,
.oa-preview button.rdrNextPrevButton:hover {
  border-color: var(--oa-main-color);
  outline: none;
  background-color: transparent;
}
.single-oa-calendar button.rdrNextPrevButton i,
.oa-preview button.rdrNextPrevButton i {
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  text-align: center;
  border-style: solid;
  margin: auto;
}
.single-oa-calendar .rdrPprevButton i,
.oa-preview .rdrPprevButton i {
  border-width: 4px 6px 4px 4px;
  border-color: transparent #34495e transparent transparent;
  -webkit-transform: translate(-3px, 0px);
  transform: translate(-3px, 0px);
}
.single-oa-calendar .rdrNextButton i,
.oa-preview .rdrNextButton i {
  margin: 0 0 0 7px;
  border-width: 4px 4px 4px 6px;
  border-color: transparent transparent transparent #34495e;
  -webkit-transform: translate(3px, 0px);
  transform: translate(3px, 0px);
}
.single-oa-calendar .rdrWeekDays,
.oa-preview .rdrWeekDays {
  padding: 0 0.833em;
}
.single-oa-calendar .rdrMonth,
.oa-preview .rdrMonth {
  padding: 0 0.833em 1.666em 0.833em;
  width: 100%;
}
.single-oa-calendar .rdrMonth .rdrWeekDays,
.oa-preview .rdrMonth .rdrWeekDays {
  padding: 0;
}
.single-oa-calendar .rdrMonths.rdrMonthsVertical .rdrMonth:first-child .rdrMonthName,
.oa-preview .rdrMonths.rdrMonthsVertical .rdrMonth:first-child .rdrMonthName {
  display: none;
}
.single-oa-calendar .rdrWeekDay,
.oa-preview .rdrWeekDay {
  font-weight: 400;
  line-height: 2.667em;
  color: #849095;
}
.single-oa-calendar button.rdrDay,
.oa-preview button.rdrDay {
  background: #fff;
  background-clip: content-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  padding: 5px 0;
  line-height: 3em;
  height: 3em;
  text-align: center;
}
.single-oa-calendar .rdrDay.rdrDayPassive,
.oa-preview .rdrDay.rdrDayPassive {
  background: transparent;
}
.single-oa-calendar .rdrDay:focus,
.oa-preview .rdrDay:focus {
  outline: 0;
}
.single-oa-calendar .rdrDayNumber,
.oa-preview .rdrDayNumber {
  outline: 0;
  font-weight: 300;
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  bottom: 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.single-oa-calendar .rdrDayToday .rdrDayNumber span,
.oa-preview .rdrDayToday .rdrDayNumber span {
  font-weight: 500;
}
.single-oa-calendar .rdrDayToday .rdrDayNumber span:after,
.oa-preview .rdrDayToday .rdrDayNumber span:after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 18px;
  height: 2px;
  border-radius: 2px;
  background: var(--oa-main-color);
}
.single-oa-calendar .rdrDayToday:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span:after,
.single-oa-calendar .rdrDayToday:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span:after,
.single-oa-calendar .rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span:after,
.single-oa-calendar .rdrDayToday:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span:after,
.oa-preview .rdrDayToday:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span:after,
.oa-preview .rdrDayToday:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span:after,
.oa-preview .rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span:after,
.oa-preview .rdrDayToday:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span:after {
  background: #fff;
}
.single-oa-calendar .rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
.single-oa-calendar .rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span,
.single-oa-calendar .rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span,
.single-oa-calendar .rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span,
.oa-preview .rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
.oa-preview .rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span,
.oa-preview .rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span,
.oa-preview .rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span {
  color: rgba(255, 255, 255, 0.85);
}
.single-oa-calendar .rdrSelected,
.single-oa-calendar .rdrInRange,
.single-oa-calendar .rdrStartEdge,
.single-oa-calendar .rdrEndEdge,
.oa-preview .rdrSelected,
.oa-preview .rdrInRange,
.oa-preview .rdrStartEdge,
.oa-preview .rdrEndEdge {
  background: var(--oa-main-color);
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 5px;
}
.single-oa-calendar .rdrSelected,
.oa-preview .rdrSelected {
  background: var(--oa-main-color);
  left: 2px;
  right: 2px;
}
.single-oa-calendar .rdrStartEdge,
.oa-preview .rdrStartEdge {
  border-top-left-radius: 1.042em;
  border-bottom-left-radius: 1.042em;
  left: 2px;
}
.single-oa-calendar .rdrEndEdge,
.oa-preview .rdrEndEdge {
  border-top-right-radius: 1.042em;
  border-bottom-right-radius: 1.042em;
  right: 2px;
}
.single-oa-calendar .rdrSelected,
.oa-preview .rdrSelected {
  border-radius: 1.042em;
}
.single-oa-calendar .rdrDayStartOfMonth .rdrInRange,
.single-oa-calendar .rdrDayStartOfMonth .rdrEndEdge,
.single-oa-calendar .rdrDayStartOfWeek .rdrInRange,
.single-oa-calendar .rdrDayStartOfWeek .rdrEndEdge,
.oa-preview .rdrDayStartOfMonth .rdrInRange,
.oa-preview .rdrDayStartOfMonth .rdrEndEdge,
.oa-preview .rdrDayStartOfWeek .rdrInRange,
.oa-preview .rdrDayStartOfWeek .rdrEndEdge {
  border-top-left-radius: 1.042em;
  border-bottom-left-radius: 1.042em;
  left: 2px;
}
.single-oa-calendar .rdrDayEndOfMonth .rdrInRange,
.single-oa-calendar .rdrDayEndOfMonth .rdrStartEdge,
.single-oa-calendar .rdrDayEndOfWeek .rdrInRange,
.single-oa-calendar .rdrDayEndOfWeek .rdrStartEdge,
.oa-preview .rdrDayEndOfMonth .rdrInRange,
.oa-preview .rdrDayEndOfMonth .rdrStartEdge,
.oa-preview .rdrDayEndOfWeek .rdrInRange,
.oa-preview .rdrDayEndOfWeek .rdrStartEdge {
  border-top-right-radius: 1.042em;
  border-bottom-right-radius: 1.042em;
  right: 2px;
}
.single-oa-calendar .rdrDayStartOfMonth .rdrDayInPreview,
.single-oa-calendar .rdrDayStartOfMonth .rdrDayEndPreview,
.single-oa-calendar .rdrDayStartOfWeek .rdrDayInPreview,
.single-oa-calendar .rdrDayStartOfWeek .rdrDayEndPreview,
.oa-preview .rdrDayStartOfMonth .rdrDayInPreview,
.oa-preview .rdrDayStartOfMonth .rdrDayEndPreview,
.oa-preview .rdrDayStartOfWeek .rdrDayInPreview,
.oa-preview .rdrDayStartOfWeek .rdrDayEndPreview {
  border-top-left-radius: 1.333em;
  border-bottom-left-radius: 1.333em;
  border-left-width: 1px;
  left: 1px;
}
.single-oa-calendar .rdrDayEndOfMonth .rdrDayInPreview,
.single-oa-calendar .rdrDayEndOfMonth .rdrDayStartPreview,
.single-oa-calendar .rdrDayEndOfWeek .rdrDayInPreview,
.single-oa-calendar .rdrDayEndOfWeek .rdrDayStartPreview,
.oa-preview .rdrDayEndOfMonth .rdrDayInPreview,
.oa-preview .rdrDayEndOfMonth .rdrDayStartPreview,
.oa-preview .rdrDayEndOfWeek .rdrDayInPreview,
.oa-preview .rdrDayEndOfWeek .rdrDayStartPreview {
  border-top-right-radius: 1.333em;
  border-bottom-right-radius: 1.333em;
  border-right-width: 1px;
  right: 1px;
}
.single-oa-calendar .rdrDayStartPreview,
.single-oa-calendar .rdrDayInPreview,
.single-oa-calendar .rdrDayEndPreview,
.oa-preview .rdrDayStartPreview,
.oa-preview .rdrDayInPreview,
.oa-preview .rdrDayEndPreview {
  background: rgba(255, 255, 255, 0.09);
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  bottom: 5px;
  pointer-events: none;
  border: 0px solid var(--oa-main-color);
  z-index: 1;
}
.single-oa-calendar .rdrDayStartPreview,
.oa-preview .rdrDayStartPreview {
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-left-radius: 1.333em;
  border-bottom-left-radius: 1.333em;
  left: 1px;
}
.single-oa-calendar .rdrDayInPreview,
.oa-preview .rdrDayInPreview {
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.single-oa-calendar .rdrDayEndPreview,
.oa-preview .rdrDayEndPreview {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-right-radius: 1.333em;
  border-bottom-right-radius: 1.333em;
  right: 1px;
}
.single-oa-calendar .rdrDefinedRangesWrapper,
.oa-preview .rdrDefinedRangesWrapper {
  font-size: var(--oa-text-2);
}
.single-oa-calendar .rdrDefinedRangesWrapper .rdrStaticRangeSelected,
.oa-preview .rdrDefinedRangesWrapper .rdrStaticRangeSelected {
  border-color: var(--oa-main-color);
  color: var(--oa-main-color) !important;
  font-weight: 600;
}
.single-oa-calendar button.rdrStaticRange,
.oa-preview button.rdrStaticRange {
  background: transparent;
  box-shadow: 0 1px 2px 0 rgba(35, 57, 66, 0.21);
  border: 1px solid transparent;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  outline: 0;
  padding: 0;
}
.single-oa-calendar button.rdrStaticRange:hover, .single-oa-calendar button.rdrStaticRange:focus,
.oa-preview button.rdrStaticRange:hover,
.oa-preview button.rdrStaticRange:focus {
  color: inherit;
  background: transparent;
  border-color: var(--oa-main-color);
  outline: none;
}
.single-oa-calendar .rdrStaticRange + .rdrStaticRange,
.oa-preview .rdrStaticRange + .rdrStaticRange {
  margin-left: 8px;
}
.single-oa-calendar .rdrStaticRangeLabel,
.oa-preview .rdrStaticRangeLabel {
  color: inherit;
  display: block;
  font-weight: normal;
  line-height: 18px;
  outline: 0;
  padding: 5px;
  text-align: left;
  text-transform: none;
}
.single-oa-calendar .rdrInputRanges,
.oa-preview .rdrInputRanges {
  padding: 10px 0;
}
.single-oa-calendar .rdrInputRange,
.oa-preview .rdrInputRange {
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 20px;
}
.single-oa-calendar .rdrInputRangeInput,
.oa-preview .rdrInputRangeInput {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  text-align: center;
  border: solid 1px #dee7eb;
  margin-right: 10px;
  color: #6c767a;
}
.single-oa-calendar .rdrInputRangeInput:focus,
.single-oa-calendar .rdrInputRangeInput:hover,
.oa-preview .rdrInputRangeInput:focus,
.oa-preview .rdrInputRangeInput:hover {
  border-color: var(--oa-main-color);
  outline: 0;
  color: var(--oa-gray-900);
}
.single-oa-calendar .rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after,
.oa-preview .rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after {
  content: "";
  border: 1px solid currentColor;
  border-radius: 1.333em;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 0px;
  right: 0px;
  background: transparent;
}
.single-oa-calendar .rdrDayPassive,
.oa-preview .rdrDayPassive {
  pointer-events: none;
}
.single-oa-calendar .rdrDayPassive .rdrDayNumber span,
.oa-preview .rdrDayPassive .rdrDayNumber span {
  color: var(--oa-gray-400);
}
.single-oa-calendar .rdrDayPassive .rdrInRange,
.single-oa-calendar .rdrDayPassive .rdrStartEdge,
.single-oa-calendar .rdrDayPassive .rdrEndEdge,
.single-oa-calendar .rdrDayPassive .rdrSelected,
.single-oa-calendar .rdrDayPassive .rdrDayStartPreview,
.single-oa-calendar .rdrDayPassive .rdrDayInPreview,
.single-oa-calendar .rdrDayPassive .rdrDayEndPreview,
.oa-preview .rdrDayPassive .rdrInRange,
.oa-preview .rdrDayPassive .rdrStartEdge,
.oa-preview .rdrDayPassive .rdrEndEdge,
.oa-preview .rdrDayPassive .rdrSelected,
.oa-preview .rdrDayPassive .rdrDayStartPreview,
.oa-preview .rdrDayPassive .rdrDayInPreview,
.oa-preview .rdrDayPassive .rdrDayEndPreview {
  display: none;
}
.single-oa-calendar .rdrDayDisabled,
.oa-preview .rdrDayDisabled {
  background-color: var(--oa-gray-100);
}
.single-oa-calendar .rdrDayDisabled .rdrDayNumber span,
.oa-preview .rdrDayDisabled .rdrDayNumber span {
  color: var(--oa-gray-300);
}
.single-oa-calendar .rdrDayDisabled .rdrInRange,
.single-oa-calendar .rdrDayDisabled .rdrStartEdge,
.single-oa-calendar .rdrDayDisabled .rdrEndEdge,
.single-oa-calendar .rdrDayDisabled .rdrSelected,
.single-oa-calendar .rdrDayDisabled .rdrDayStartPreview,
.single-oa-calendar .rdrDayDisabled .rdrDayInPreview,
.single-oa-calendar .rdrDayDisabled .rdrDayEndPreview,
.oa-preview .rdrDayDisabled .rdrInRange,
.oa-preview .rdrDayDisabled .rdrStartEdge,
.oa-preview .rdrDayDisabled .rdrEndEdge,
.oa-preview .rdrDayDisabled .rdrSelected,
.oa-preview .rdrDayDisabled .rdrDayStartPreview,
.oa-preview .rdrDayDisabled .rdrDayInPreview,
.oa-preview .rdrDayDisabled .rdrDayEndPreview {
  -webkit-filter: grayscale(100%) opacity(60%);
  filter: grayscale(100%) opacity(60%);
}
.single-oa-calendar .rdrMonthName,
.oa-preview .rdrMonthName {
  text-align: left;
  font-weight: 600;
  color: var(--oa-gray-600);
  padding: var(--oa-spacing-3);
}
.single-oa-calendar .rdrMonthName,
.oa-preview .rdrMonthName {
  display: none;
}
.single-oa-calendar .rdrDayStartOfWeek,
.single-oa-calendar .rdrDayStartOfMonth,
.oa-preview .rdrDayStartOfWeek,
.oa-preview .rdrDayStartOfMonth {
  border-top-left-radius: 1.333em;
  border-bottom-left-radius: 1.333em;
  left: 2px;
}
.single-oa-calendar .rdrDayEndOfWeek,
.single-oa-calendar .rdrDayEndOfMonth,
.oa-preview .rdrDayEndOfWeek,
.oa-preview .rdrDayEndOfMonth {
  border-top-right-radius: 1.333em;
  border-bottom-right-radius: 1.333em;
  right: 2px;
}
.single-oa-calendar .rdrNoSelection .rdrSelected,
.single-oa-calendar .rdrNoSelection .rdrInRange,
.single-oa-calendar .rdrNoSelection .rdrStartEdge,
.single-oa-calendar .rdrNoSelection .rdrEndEdge,
.oa-preview .rdrNoSelection .rdrSelected,
.oa-preview .rdrNoSelection .rdrInRange,
.oa-preview .rdrNoSelection .rdrStartEdge,
.oa-preview .rdrNoSelection .rdrEndEdge {
  background: #fff;
}
.single-oa-calendar .rdrNoSelection .rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
.single-oa-calendar .rdrNoSelection .rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span,
.single-oa-calendar .rdrNoSelection .rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span,
.single-oa-calendar .rdrNoSelection .rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span,
.oa-preview .rdrNoSelection .rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
.oa-preview .rdrNoSelection .rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span,
.oa-preview .rdrNoSelection .rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span,
.oa-preview .rdrNoSelection .rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span {
  color: var(--oa-gray-900);
}
.single-oa-calendar .rdrNoSelection .rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span:after,
.single-oa-calendar .rdrNoSelection .rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span:after,
.single-oa-calendar .rdrNoSelection .rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span:after,
.single-oa-calendar .rdrNoSelection .rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span:after,
.oa-preview .rdrNoSelection .rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span:after,
.oa-preview .rdrNoSelection .rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span:after,
.oa-preview .rdrNoSelection .rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span:after,
.oa-preview .rdrNoSelection .rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span:after {
  background: var(--oa-main-color);
}

/************************************
 * Styles below are not yet updated
 ************************************/
/*********************************
 * Favorite widget and filter
 *********************************/
button.oa-event-favorite-badge {
  background: transparent;
  border: none;
  line-height: 1;
  padding: 0;
}
button.oa-event-favorite-badge:hover, button.oa-event-favorite-badge:focus {
  background: transparent;
}
button.oa-event-favorite-badge:focus {
  outline: 1px dotted;
}
button.oa-event-favorite-badge .inactive-icon {
  display: inline-block;
}
button.oa-event-favorite-badge .active-icon {
  display: none;
}
button.oa-event-favorite-badge.active .active-icon {
  display: inline-block;
}
button.oa-event-favorite-badge.active .inactive-icon {
  display: none;
}

/*********************
 * Language switcher
 *********************/
.oa-languages {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 1rem 0;
}

.oa-language-link {
  text-transform: uppercase;
  padding: 0.5rem;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.oa-language-link.active {
  border-bottom: 2px solid var(--oa-main-color);
}

/*****************************
 * Exports and Share Buttons
 *****************************/
.oa-exports,
.oa-sharers {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

ul.oa-exports-links,
ul.oa-sharers-links {
  display: flex;
  list-style: none;
  margin: 0;
}

.oa-export-button,
.oa-sharer-button {
  align-items: center;
  display: inline-flex;
  padding: 0.25rem;
  margin-left: 8px;
}

.oa-registration-label,
.oa-access-link-label {
  display: block;
}

/*# sourceMappingURL=style.css.map */
